body{
	background-color: rgba(255,255,255,0.5);
	background-blend-mode: overlay;
	font-family: Georgia;
	color: #000000;
	background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

#container{
	width: 80%;
	background: #ffffff;
	border: 2px solid #95b4c8;
	border-radius: 5px;
	overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	text-align: left !important;
}

h1, h2, h3, h4{
	font-family: Lexend;
	color: #000000;
	text-shadow: 1px 1px #FFFFFF;
}

h1, h2{
	background-color: #d8ebf8;
	border-radius: 5px;
	padding: 10px;
}
a{
	color: #001c2c;
}
